*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header-wrapper{
    width: 100%;
}
.header-container{
    background-color: rgb(207,135,136);
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
.header-go-back-a{
    padding: 10px;
}
.header-go-back-img{
    width: 60px;
}
.section-1-wrapper , .section-2-wrapper{
    margin-top: 10px;
    width: 100%;
}
.section-1-container , .section-2-container{    
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.grand-hall-container , .small-hall-container{
    height: 560px;
    width: 900px;
    background-image: url('/explorepageimages/Free\ Vector\ _\ Abstract\ watercolor\ background.jpg');
    border: 3px solid rgb(207,135,136);
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 20px;
}
.grand-hall-name , .small-hall-name{
    text-align: center;
    font-size: 60px;
    padding:  20px 10px 0;
    margin-bottom: -10px;
    color: rgba(176,57,73,0.7);
}
.carousel1 , .carousel2{
    overflow: hidden;
    position: relative;
    width: 800px;
    height: 500px;
    overflow: hidden;
    margin: auto;
    display: flex;
    align-items: center;
}
.carousel1-track1 , .carousel2-track {
    margin-left: -470px;
    display: flex;
    flex-wrap: nowrap;
    width: auto;
    transition: transform 1s ease-in-out;
}
.carousel1-track1 > div , .carousel2-track > div , .carousel3-track > div{
    transition: transform 1s ease-in-out;
}
.carousel-item{
    text-align: center;
}
.carousel1 img , .carousel2 img {
    width: 350px;
    height: 300px;
    object-fit: cover;
    border-radius: 50%;
}
.arrow{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    font-size: 24px;
    padding: 5px 10px;
    cursor: pointer;
    z-index: 1;
}
.left1 , .left2{
    left: 10px;
}  
.right1 ,.right2{
    right: 10px;
}

.desc , .desc-menu{    
    min-width: 296px;
    width: 80%;
}
.desc div{
    padding: 15px 20px;
    border: 1px solid rgb(107, 22, 37);
    border-radius: 15px;
    background-color: rgba(162,54,63,0.4);
    margin-bottom: 20px;
}
.desc div li{
    margin: 0 20px;
    font-size: 1.5em;
    list-style-type: square;
}
.desc-p{
    font-size: 3em;
    color: rgba(163,41,62,0.9);
    margin-bottom: 10px;
}
.desc-size{
    display: flex;
    gap: 20px;

} 
.sections-2-h3{
    font-style: italic;
    font-weight: 700;
    font-size: 3em;
    color: rgba(91, 30, 40, 0.9);
    margin-bottom: 10px;

}
.menu-container{
    height: 560px;
    width: 900px;
    background-image: url('/explorepageimages/Free\ Vector\ _\ Abstract\ watercolor\ background.jpg');
    border: 3px solid rgb(207,135,136);
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 20px;
}
.carousel3{
    overflow: hidden;
    position: relative;
    width: 800px;
    height: 500px;
    overflow: hidden;
    margin: auto;
    display: flex;
    align-items: center;
}
.carousel3-track{
    margin-left: -470px;
    display: flex;
    flex-wrap: nowrap;
    width: auto;
    transition: transform 1s ease-in-out;
}
.carousel3 img{
    width: 350px;
    height: 300px;
    object-fit: cover;
    border-radius: 50%;
}
.desc-menu{
    padding: 15px 20px;
    border: 1px solid rgb(107, 22, 37);
    border-radius: 15px;
    /* background-color: rgba(198,117,110, 0.4); */
    background-color: #f2c8c9;
    margin-bottom: 20px;
}
.desc-menu li{
    margin: 0 20px;
    font-size: 1.5em;
    list-style: circle;
    color: #5e242c;
}
@media screen and (min-width:771px) and (max-width: 1152px){
    .grand-hall-container , .small-hall-container , .menu-container{
        height: 360px;
        width: 600px;
    }
    .grand-hall-name , .small-hall-name{
        font-size: 40px;
        padding:  15px 10px 0;
        margin-bottom: 0px;
        color: rgba(176,57,73,0.7);
    }
    .carousel1 , .carousel2 , .carousel3{
        overflow: hidden;
        position: relative;
        width: 530px;
        height: 290px;
    }
    .carousel1 img , .carousel2 img , .carousel3 img{
        width: 220px;
        height: 180px;
        object-fit: cover;
        border-radius: 50%;
    }
    .carousel1-track1 , .carousel2-track , .carousel3-track{
        margin-left: -270px;
        display: flex;
        flex-wrap: nowrap;
        width: auto;
        transition: transform 1s ease-in-out;
    }
    .desc div li{
        margin: 0 20px;
        font-size: 1.5em;
        list-style-type: square;
    }
    .desc-p{
        font-size: 2em;
        color: rgba(163,41,62,0.9);
        margin-bottom: 10px;
    }
}
@media screen and (min-width:299px) and (max-width: 771px){
    .grand-hall-container , .small-hall-container , .menu-container{
        height: 290px;
        width: 480px;
    }
    .grand-hall-name , .small-hall-name{
        font-size: 35px;
        padding:  15px 10px 0;
        margin-bottom: -15px;
    }
    .carousel1 , .carousel2 , .carousel3{
        width: 460px;
        height: 260px;
    }
    .carousel1 img , .carousel2 img , .carousel3 img{
        width: 190px;
        height: 150px;
    }
    .carousel1-track1 , .carousel2-track , .carousel3-track{
        margin-left: -250px;
    }
    .desc div li{
        font-size: 1.4em;
    }
    .desc-p{
        font-size: 1.8em;
    }
}
@media screen and (max-width: 620px){
    .grand-hall-container , .small-hall-container , .menu-container{
        height: 220px;
        width: 296px;
    }
    .grand-hall-name , .small-hall-name{
        font-size: 30px;
        padding:  15px 10px 0;
        margin-bottom: -10px;
        color: rgba(176,57,73,0.7);
    }
    .carousel1 , .carousel2 , .carousel3{
        overflow: hidden;
        position: relative;
        width: 280px;
        height: 180px;
    }
    .carousel1 img , .carousel2 img , .carousel3 img{
        width: 130px;
        height: 100px;
        object-fit: cover;
        border-radius: 50%;
    }
    .carousel1-track1 , .carousel2-track , .carousel3-track{
        margin-left: -200px;
        display: flex;
        flex-wrap: nowrap;
        width: auto;
        transition: transform 1s ease-in-out;
    }
    .desc div li{
        margin: 0 20px;
        font-size: 1.1em;
        list-style-type: square;
    }
    .desc-p{
        font-size: 1.4em;
        color: rgba(163,41,62,0.9);
        margin-bottom: 10px;
    }
}

