*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header-wrapper{
    width: 100%;
}
.header-container{
    background-color: rgb(207,135,136);
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
.header-go-back-a{
    padding: 10px;
}
.header-go-back-img{
    width: 60px;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 0 10px rgba(255, 107, 107, 0.5);
    animation: pulse 2s infinite;
}
.header-go-back-img:hover{
    background-color: #ff4c4c;
    box-shadow: 0 0 20px rgba(255, 75, 75, 0.8);
    transform: scale(1.2);
}