*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header-wrapper{
    z-index: 3000;
    top: 0;
    position: fixed;
    width: 100%;
}
.header-container{
    background-color: rgb(207,135,136);
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
.header-go-back-a{
    padding: 10px;
}
.header-go-back-img{
    width: 60px;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 0 10px rgba(255, 107, 107, 0.5);
    animation: pulse 2s infinite;
}
.header-go-back-img:hover{
    background-color: #ff4c4c;
    box-shadow: 0 0 20px rgba(255, 75, 75, 0.8);
    transform: scale(1.2);
}
.header-load{
    justify-content: flex-end;
    padding-right: 10px;
    gap: 15px;
    display: flex;
    min-width: 200px;
    align-items: center;
    width: 60%;
    max-width: 400px;
}
.header-load a{
    text-decoration: none;
    color: #5e242c;
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
}
#section1{
    margin-top: 110px;
}
.section-container{
    width: 100%;
    padding: 10px 20px;
    margin: 20px 0;
    display: flex;
}
.menu-heading{
    display: flex;
}
.menu-h2{
    margin-bottom: 15px;
    font-size: 2.5em;
    text-align: start;
    color: #bb2f56;
}
.list-icon{
    width: 80px;
    height: 50px;
}
.menu-list-container{
    padding: 0 20px;
}
ul.menu-inner-list{
    max-width: 400px;
    font-weight: 300;
    color: #744141;
    font-size: 22px;
    padding: 10px 20px;
    list-style-type: square;
}
ul.menu-list{
    font-weight: 600;
    font-size: 26px;
    padding-left: 10px;
    color: #7d1818;
    list-style-type: circle;
}
li .menu-inner-list :hover{
    color: #5e242c;
    cursor: pointer;
    background-color: #ff4c4c;
    margin: 0 10px;
    color: white;
    box-shadow: 0 0 20px rgba(228, 83, 83, 0.8);
    /* transform: scale(1.2); */
}


.section5{
    position: fixed;
    top: 64px;
    right: 0;
    width: 40%;
    height: 100vh;
    padding: 20px;
    font-family: "Work Sans", sans-serif;
    display: flex;
    align-content: flex-end; 
    opacity: 1;
    /* visibility: hidden;  */
    /* transform: translateX(100%); */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: opacity 1s ease, transform 1s ease, visibility 0s 1s;    
}
.menu-img-container{
    z-index: 2050;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    max-width: 340px;
    max-height: 460px;
    /* background-color: rgb(207,135,136); */
    padding: 20px;

}
.menu-img-container h4{
    color: #7d1818;
    font-size: 20px;
}
.menu-img{
    border: 1px solid #7d1818;
    max-width: 300px;
    max-height: 400px;
    object-fit: contain;
}
@media screen and (max-width: 930px) {
    .menu-h2{
        font-size: 2em;
    }
    .list-icon{
        width: 60px;
        height: 40px;
    }
    ul.menu-inner-list{
        font-size: 19px;
    }
    ul.menu-list{
        font-size: 22px;
    }
    .menu-list-container{
        padding: 0 10px;
    }
}
@media screen and (max-width: 570px) {
    .menu-h2{
        font-size: 1.7em;
    }
    .list-icon{
        width: 40px;
        height: 30px;
    }
    ul.menu-inner-list{
        font-size: 1em;
    }
    ul.menu-list{
        font-size: 1.2em;
    }
    .menu-list-container{
        padding: 0;
    }
}
@media screen and (max-width: 370px) {
    .menu-h2{
        font-size: 1.3em;
    }
    .list-icon{
        width: 40px;
        height: 30px;
    }
    ul.menu-inner-list{
        font-size: 0.9em;
    }
    ul.menu-list{
        font-size: 1.1em;
    }
    .menu-list-container{
        padding: 0;
    }
}


.footer-container{
    margin-top: 20px;
    background-color: #24292d;
    width: 100%;
    padding: 40px 30px;
    color: white;
    height: 300px;
    gap: 20px;
    display: flex;
    justify-content: space-between;
}
.footer-left h3{
    color: rgba(255, 0, 0, 0.497);
    font-size: 2em;
    margin-bottom: 15px;
}
.footer-left li{
    list-style-type: none;
    font-size: 1.2em;
    margin-bottom: 10px;
    font-weight: 200;
}
.footer-icon{
    margin: 10px;
    display: flex;
    align-items: center;
    text-decoration: none;
}
.footer-icon img{
    width: 20px;
    margin-right: 10px;
}
.footer-right{
    padding-right: 20px;
}
.footer-icon a{
    text-decoration: none;
    color: white;
}
@media screen and (min-width:471px) and (max-width: 771px){
    .footer-container{
        margin-top: 20px;
        background-color: #24292d;
        width: 100%;
        padding: 30px 20px;
        color: white;
        height: 350px;
        gap: 20px;
        display: flex;
        flex-direction: column;
        align-content: space-between;
    }
    .footer-left h3{
        font-size: 1.5em;
        margin-bottom: 10px;
    }
    .footer-left li{
        font-size: 1em;
        margin-bottom: 8px;
        font-weight: 200;
    }
    .footer-icon{
        margin: 10px 0;
    }
    .footer-icon img{
        width: 15px;
        margin-right: 10px;
    }
    .footer-right{
        padding-right: 20px;
        margin-bottom: 20px;
    }
}
@media screen and (min-width:299px) and (max-width: 471px){
    .footer-container{
        margin-top: 20px;
        background-color: #24292d;
        width: 100%;
        padding: 30px 20px;
        color: white;
        height: 350px;
        gap: 20px;
        display: flex;
        flex-direction: column;
        align-content: space-between;
    }
    .footer-left h3{
        font-size: 1.2em;
        margin-bottom: 10px;
    }
    .footer-left li{
        font-size: 0.8em;
        margin-bottom: 8px;
        font-weight: 200;
    }
    .footer-icon{
        margin: 10px 0;
    }
    .footer-icon img{
        width: 15px;
        margin-right: 10px;
    }
    .footer-right{
        padding-right: 20px;
        margin-bottom: 20px;
    }
}