@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.header-home {
    position: fixed;
    width: 100%;
    height: 80px;
    top: 0;
    left: 0;
}
.header-wrapper {
    width: 100%;
    padding: 10px 30px 10px 20px;
    background: none;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.header-container {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.header-logo {
    border: 1px solid coral;
    border-radius: 10px;
    height: 50px;
    width: 120px;
}
.header-data {
    position: relative;
    max-width: 300px;
    display: flex;
    width: 70%;
    gap: 8px;
    justify-content: space-between;
}

.translate-container{
    position: relative;
}
.btn-translate{
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
}
.ul-translate{
    display: none;
}
.ul-translate-active{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    top: 60px;
    list-style: none;
    margin: 0;
    padding: 5px;
    font-size: 20px;
    width: 50px;
    background-color: rgba(255,255,255,0.5);
    border-radius: 10px;    
    border: 1px solid #ccc;
    position: absolute;
}
.ul-translate a{
    font-family: "Playfair Display", serif;
    text-align: end;
    text-decoration: none;
    color: black;
}
.ul-translate li:hover a{
    padding: 0 15px;    
    background-color: rgb(176, 117, 75);
    color: white !important;
    border-radius: 10px;
}
.img-translate{
    border: 1px solid rgb(99, 44, 9);
    border-radius: 10px;
    width: 50px;
}
.header-data ul {
    list-style: none;
}
button.about-us-btn, button.contact-us-btn {
    font-weight: 600;
    font-family: "Playfair Display", serif;
    border: 1px solid rgb(99, 44, 9);
    background-color: rgba(194, 144, 108, 0.5);
    font-size: 22px;
    padding: 10px;
    border-radius: 10px;
    position: relative;
}
.about-us-submenu, .contact-us-submenu {
    display: none;
}
.show-about-us {
    position: absolute;
    right: 47%;
    margin: 10px;
    padding: 10px;
    height: 230px;
    display: flex;
    width: 260px;
    font-weight: 500;
    justify-content: space-between;
    flex-direction: column;
    text-align: end;
    background-color: rgba(255,255,255,0.5);
    border-radius: 10px;
}
.show-contact-us {
    width: 250px;
    position: absolute;
    right: -10px;
    margin: 10px;
    padding: 10px;
    min-height: 140px;
    height: auto;
    display: flex;
    text-align: end;
    font-weight: 500;
    justify-content: space-between;
    align-content: flex-end;
    flex-direction: column;
    background-color: rgba(255,255,255,0.5);
    border-radius: 10px;
}
.about-us-submenu li, .contact-us-submenu li{
    padding: 5px 10px;
    font-size: 20px;
    font-family: "Playfair Display", serif;
}
.contact-us-submenu-ul{
    display: none;
}
.contact-us-submenu-ul li{
    font-size: 14px;
    text-align: end;
}
.contact-us-submenu-ul-show{
    width: 250px;
    display: block;
    padding-right: 30px;
    transition: opacity 1s ease, transform 1s ease, visibility 0s 1s;
}
.about-us-submenu li:hover, .contact-us-submenu li:hover , .ul-translate a:hover  {
    background-color: rgb(176, 117, 75);
    color: white;
    border-radius: 10px;
}
.left-menu div h1{
    font-size: 20px;
    margin-bottom: 20px;
}.left-menu div p{
    font-size: 15px;
    margin-bottom: 10px;
}
.left-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 40%;
    height: 100vh;
    padding: 20px;
    font-family: "Work Sans", sans-serif;
    background-color: rgba(255,255,255,0.6);
    z-index: 150;
    display: flex; 
    opacity: 0;
    visibility: hidden; 
    transform: translateX(-100%);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: opacity 1s ease, transform 1s ease, visibility 0s 1s;
}

.left-menu div{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.left-menu.active {
    visibility: visible; 
    opacity: 1;
    transform: translateX(0); 
    transition: opacity 1s ease, transform 1s ease;
}


.btn-clicked{    
    background-color: rgba(245, 183, 122, 0.6);
    border-radius: 10px;
}
.last-li-hidden{
    display: none;
}
.last-li-show{
    display: block;
}


.main-wrapper{
    width: 100%;
    height: 100vh;
    background-image: url('./homepageimages/palace.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.main-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-card{
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.palace-name {
    margin-top: 80px;
    margin-bottom: 10px;
    font-style: italic;
    font-size: 85px;
    width: 500px;
    text-align: center;
    letter-spacing: 2px;
    font-weight: 700;
    color: rgb(192, 94, 87);
    text-shadow: 
        2px 2px 0 rgb(144, 71, 66),
        -2px 2px 0 rgb(144, 71, 66), 
        2px -2px 0 rgb(144, 71, 66),
        -2px -2px 0 rgb(144, 71, 66);

}


.main-buttons{
    width: 50%;
    display: flex;
    justify-content: center
}
a.button-explore-page{
    text-decoration: none;
    width: 200px;
    height: 80px;
    border-radius: 40px;
    padding: 10px;
    line-height: 30px;
    font-weight: 600;
    text-align: center;
    background-color: rgba(220 , 161 , 157 , 80);
    border: 1px solid rgb(99, 44, 9);
    color: rgb(99, 44, 9);
    font-size: 22px;    
    transition: all 0.3s ease-in-out;
    box-shadow: 0 0 10px rgba(255, 107, 107, 0.5);
    animation: pulse 2s infinite;
}
a.button-explore-page:hover{
    background-color: #f66d6d;
    box-shadow: 0 0 20px rgba(255, 75, 75, 0.8);
    transform: scale(1.2);
}
@keyframes pulse{
    0% {
      box-shadow: 0 0 10px rgba(255, 107, 107, 0.5);
    }
    50% {
      box-shadow: 0 0 20px rgba(255, 107, 107, 0.8);
    }
    100% {
      box-shadow: 0 0 10px rgba(255, 107, 107, 0.5);
    }
} 
@media screen and (max-width: 740px) {
    .translate-container{
        position: relative;
    }
    .btn-translate{
        padding: 0;
        border: none;
        background: none;
        cursor: pointer;
    }
    .ul-translate{
        display: none;
    }
    .ul-translate-active{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 5px;
        top: 50px;
        list-style: none;
        margin: 0;
        padding: 5px;
        width: 45px;
        font-size: 15px;
        background-color: rgba(255,255,255,0.5);
        border-radius: 10px;    
        border: 1px solid #ccc;
        position: absolute;
    }
    .img-translate{
        border: 1px solid rgb(99, 44, 9);
        border-radius: 10px;
        width: 45px;
    }
    .about-us-submenu li {
        padding: 2px 6px;
        font-size: 13px;
    }
    .header-data{
        justify-content: flex-end;
    }
    button.about-us-btn{
        font-size: 18px;
    }
    .show-about-us {
        text-align: start;
        right: -10px;
        top: 40px;
        margin: 10px;
        padding: 6px;
        width: 160px;
        height: 160px;
    }
    .left-menu {
        margin-top: 10px;
        top: auto;
        left: 0;
        width: 100%;
        height: 60%;
        transform: translateY(200%);
    }

    .left-menu.active {
        opacity: 1;
        transform: translateY(80%);
    }

    .contact-us-menu{
        display: none;
    }
    .left-menu div h1{
        font-size: 18.5px;
        margin-bottom: 10px;
    }.left-menu div p{
        margin-bottom: 5px;
        font-size: 13.5px;
    }
    .left-menu.active {
        display: flex;
        justify-content: center;
    }
    .main-buttons{
        width: 170px;
    }
    .button-explore-page{
        font-size: 18px !important;
        height: 60px !important;
        line-height: 20px !important;
    }
}
@media screen and (max-width: 700px) {
    .palace-name{
        font-size: 50px;
        text-align: center;
        width: 250px;
    }
}
@media screen and (max-width:400px) {
    .header-logo {
        height: 39px;
        width: 90px;
    }
    .header-data {
        max-width: 220px;
        display: flex;
        width: 70%;
        gap: 10px;
    }
    .ul-translate-active{
        gap: 5px;
        top: 45px;
        margin: 0;
        padding: 5px;
        font-size: 13px;
        width: 40px;
        background-color: rgba(255,255,255,0.5);
        border-radius: 10px;    
        border: 1px solid #ccc;
        position: absolute;
    }
    .img-translate{
        border: 1px solid rgb(99, 44, 9);
        border-radius: 5px;
        width: 39px;
    }
    button.about-us-btn, button.contact-us-btn {
        font-size: 18px;
        padding: 6px;
    }
    .show-about-us {
        text-align: start;
        right: -10px;
        top: 35px;
        margin: 10px;
        padding: 6px;
        width: 140px;
        height: 170px;
    }
    .left-menu div h1{
        font-size: 17px;
    }
    .left-menu div p{
        font-size: 12px;
    }
    .palace-name{
        font-size: 40px;
        text-align: center;
        width: 230px;
    }
}
@media screen and (min-width: 1500px) and (max-width:2100px) {
    .palace-name {
        font-size: 90px;
        margin-bottom: 20px;
    }
    .header-logo {
        width: 160px;
        height: 70px;
    }
    .header-data{
        max-width: 370px;
    }
    .ul-translate-active{
        gap: 5px;
        top: 80px;
        margin: 0;
        padding: 5px;
        font-size: 13px;
        width: 70px;
        background-color: rgba(255,255,255,0.5);
        border-radius: 10px;    
        border: 1px solid #ccc;
        position: absolute;
    }
    .ul-translate a{
        font-size: 20px;
    }
    .img-translate{
        border: 1px solid rgb(99, 44, 9);
        border-radius: 5px;
        width: 70px;
    }
    button.about-us-btn, button.contact-us-btn {
        font-size: 25px;
        height: 70px;
    }
    .show-about-us{
        right: 45%;
    }
    .left-menu div h1{
        margin-bottom: 20px;
        font-size: 29px;
    }.left-menu div p{
        margin-bottom: 10px;
        font-size: 22px;
    }
    .button-explore-page{
        width: 300px !important;
        font-size: 30px !important;
        height: 100px !important;
        line-height: 40px !important;
    }
}
@media screen and (min-width:1000px) and (max-width:1500px){
    .left-menu div h1{
        font-size: 24px;
    }
    .left-menu div p{
        font-size: 18px;
    }
    .show-about-us{
        right: 47%;
    }
}